*,body,#header {
   height: 100%;
}
body {
  font: 12px/1.3 Arial;
  background-color: #120d0a;
}
#header {
  /* height: 100%; */
  background: url(http://m.qpic.cn/psb?/V11vNEgp2mKwWH/RLtRn7YjINfXPlTeSlShs6s8PMBP6QJ2cI5a*tVSquM!/b/dB8BAAAAAAAA&bo=kAUgAwAAAAARB4Y!&rf=viewer_4) center  center no-repeat;
  background-size: cover;
  overflow: hidden;
}
.navbar {
  margin-top: 40px;
}
.navbar>li {
  float: left;
  height: 70px;
  width: 160px;
  border:2px solid #3f2a22;
  border-left: none;
  background-color: #261712;
}
.navber>li:first-child{
  border:2px solid #3f2a22;
}
.navbar a {
  display: block;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #f8b408;
}
.navbar a:hover {
  font-size: 20px;
  color: #fff;
  background-color: rgba(43,20,33,.9);
}
.navbar .logo {
  width: 240px;
}

#content {
  background-color: #120d0a;
  border-top: 2px solid #030500;
  padding-top: 30px;
  padding-bottom: 70px;
  height: 282px;
}
#content .item {
  position: relative;
  float: left;
  width: 288px;
  margin-left: 16px;
  /* transition:  */
}
#content .item:hover {
  top: -10px;
}
#content .item:hover h3 {
  color: #fff;
}
#content .item:first-child {
  margin-left: 0;
}
#content .item h3 {
  background-color: #251812;
  color: #f8b700;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 70px;
  height: 70px;
}
#content .item img {
  width: 290px;
  height: 180px;
}
.business {
  width: 900px;
  margin: 0 auto;
  padding-top: 60px;
  height: 350px;
}
.business .logos {
  width: 330px;
  float: left;
  font-size: 16px;
}
.business .info {
  margin-left: 450px;
}
.business .contact a {
  color:#fff;
}
.business .contact img {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 20px;
}
.business .parters img {
  width: 120px;
  height: 80px;
  margin-top: 100px;
}
.business .parters img:hover {
  width: 140px;
  height: 90px;
}
.business .info-partner {
  text-align: left;
  height: 70px;
}
.business .info-partner a {
  color: #fff;
  /* display: inline-block; */
  font-size: 18px;
}
.business .info-partner img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
}
.suggestion {
  font-size: 16.5px;
  color: #aaa;
}
#footer {
  height: 0px;
  text-align: center;
}
#footer a {
  color: #aaa;
  font-size:16.5px;
  margin: 20px;
}
#footer a:hover {
  color: #fff;
  font-size: 23px;
}
